/*0.通用26B064替换26B064*/
html, body{
/*	min-width: 1300px;
	max-width:1366px;*/
	width: 100%;
	height: 100%;
	}
body{
	/*width: 100%;*/
	font-family:  "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	font-size: 14px;
	/*text-align: center;*/
	position: absolute;
	top: 0;
	right: 0
	bottom: 0;
	left: 0;
	/*min-height: 100%;*/
}
/*.myContainer{
	position:relative;
	width:100%;
	min-height:100%;	
	min-width: 1300px;
	max-width:1366px;}*/
a{
	color: #000;
}
input[type="text"]{
	height: 2em;
	border-radius: 0.3em;
	border: #26B064 solid 1px;
}
input[type="button"]{

	height: 2em;
	margin-right: 2em;
	border-radius: 0.3em;
	background: #26B064;
	color: #fff;
	border: #26B064 solid 1px;
	cursor: pointer;
}
input[type="submit"]{
	height: 2em;
	margin-right: 2em;
	border-radius: 0.3em;
	background: #26B064;
	color: #fff;
	border: #26B064 solid 1px;
	cursor: pointer;
}
fieldset{
	margin-left:30px;
}

#centerContainer{
	width: 100%;
	min-width: 1300px;
	min-height: 100%;
	background:-webkit-gradient(linear, left top, left bottom, from(#add8e6), to(#fff));

}

.float-left{
	float: left;
}
.float-right{
	float:right;
}
.clearfat:after{
	content: ".";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}
.clear{
	clear: both;
}
/*1.头部*/
.header-container{
	width: 100%;
	height: 50px;
	background-color: #2facb2;
}
.header{
/*	position: absolute;
	top: 0;*/
	width: 1300px;
	margin: 0 auto;
	/*color: #9d9d9d;*/
	/*min-width: 500px;*/
	color: #fff;
	line-height: 1;/*控制文字垂直居中，不可继承？*/
	height: 50px;
	/*padding: 0 2em;*/
	/*background-color: #333;*/
	background-color: #2facb2;
	/*overflow: hidden;*//*当宽度放不下时隐藏导航栏*/

}
.logo{
/*	position: absolute;
	left: 20px;
	top: 0;*/
	/*float: left;*/
	float: left;
	font-size: 18px;
	color: #9d9d9d;	
	margin-left: 20px;
	padding-left:50px; 
	background-image: url(../img/HaiCloudlogo.png);
	background-size: 50px;
	background-repeat: no-repeat;
	/*padding: 1em;*/
}
.header a{
	/*color: #9d9d9d;*/
	color: #fff;
	height: 50px;
	line-height: 50px;
	vertical-align: top;
}

.header a:hover{
	/*color: #000;*/
	/*font-size: 1.2em;*/
	/*display: block;*/
	/*box-shadow: 0 0 1px 2px;*/
	/*background: #26B064;*/
	color: #000;
	height: 50px;
	line-height: 50px;
	/*vertical-align: center;*/

}
.nav{
/*	position: absolute;
	right: 0;
	top: 0;*/
	margin-left: 200px;

	display: inline-block;
	float: right;/*浮动布局在宽度变化时有较好的适应性*/

}
.nav ul li{
	display: inline-block;
	line-height: 20px;
	margin-right: 10px;
	padding: 0 15px;
	/*width: 100px;*/

}
li.user{
	background: url(../img/user.png) no-repeat 0 50%;
	background-size: 15px 15px; 
}

.footer{
/*	position: absolute;
	left: 0;
	bottom: 0;*/
	margin-top: -50px;
	height: 50px;
	width: 100%;
	min-width: 1300px;
/*	min-width:1300px;
	max-width:1366px;*/
	background-color: #5E666E;
	text-align: center;
	line-height: 50px;
}
.sub-footer{
	width: 1300px;
	height: 50px;
	margin: 0 auto;
	background-color: #5E666E;
}
.re-footer{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 50px;
	width: 100%;
	background-color: #5E666E;
	text-align: center;
	line-height: 50px;
}
.footer .copyright{
	width: 100%;
	margin: 0 auto;
}
/*#centerContainer{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}*/

/*中间部分居中*/
.wrap{
/*	position: relative;*/
	margin: 0 auto;
	width: 1300px;
	padding-top: 25px;
	padding-bottom: 55px;
	/*margin: 61px auto;*/
/*	min-width: 1300px;*/
/*	min-height: calc(100% - 110px);*/
/*	height: 800px;*/
	
}

.wrap:after {clear:both;content:'.';display:block;width: 0;height: 0;visibility:hidden;}   /*==for FF/chrome/opera/IE8==*/
/*2.侧边栏*/
.wrap1>#sidebar{
	height: 450px;
}
#sidebar{
/*	position: absolute;
	top: 100px;
	left: 10px;*/
	/*margin-top: -240px;*/
	/*bottom:80px;/*ye浮动*/*/
	float: left;
	display: inline-block;
	overflow: hidden;
	background: #F5F5F5;
	margin-top: 50px;
	margin-left: 30px;
	width: 180px;
	/*margin: 10px;*/
	border-radius: 10px;/*圆角*/
	/*height: calc(100% - 150px);*/
	height: 600px;
	/*min-width: 80px;*/
	z-index: 100;
	box-shadow: 0 0px 1px 2px #26B064 inset;
	
}
.sidebarNodemanage{
	height: 401px !important;
}
.nodelist{
	margin: 15px;
	cursor: pointer;
}
.nodelist li{
	font-size: 16px;
	padding: 10px;
	margin: 5px;
	border:  #26B064 solid 1px;
	background: url(../img/node.png) no-repeat 10px 50%;
	background-size: 15px;
	padding-left: 33px;
}
.nodelist li.active{
	background-color: #26B064;
}
.nodelist a{
	color: #2A6496;
}
.nodelist li.active a{
	color: #fff;
}

.nodelist li:hover{
	background-color: #009966;
	color: #fff;
}
.nodelist li.active:hover{
	background-color: #26B064;
	color: #000;
}
/*3.主体*/
.content{
	/*background-color: #ccc;
	height: 200px;*/
/*	width: 1200px;*/
	float: right;
	width: 1050px;

	overflow: hidden;
	display: inline-block;
	margin: 10px ;
	/*margin-left: 260px;*/
}
.tab-bar{
	margin-left: 40px;
}
.tab-bar li{
	display: inline-block;
	line-height: 2em;
	padding: 0.4em 1em;	
	background:#26B064;
	border-top-left-radius: 0.4em;
	border-top-right-radius: 0.4em;
	/*border-bottom: #26B064 solid 2px;*/
	/*box-shadow: 0 -2px 1px 1px #26B064 ;*/
}
.tab-bar li a{
	color: #fff;
	
}
.tab-bar li.active{
	background-color: #F5F5F5;
	/*border: #F5F5F5 solid 1px;*/
	/*border-radius: 0.3em;*/
	border-top-left-radius: 0.4em;
	border-top-right-radius: 0.4em;
	border-bottom: none;
	border: none;
	box-shadow: 0 0px 1px 2px #26B064 inset;
}
.tab-bar li.active a{
	color: #000;
}
/*4.1搜索框*/

.search{
	position: relative;
	background: #F5F5F5;
	/*height: 80px;*/
	line-height: 2;
	padding: 20px 5px;
	/*margin: 10px 0;*/
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	/*border-radius: 10px;*/
	/*border-top-left-radius: 0;*/
	box-shadow: 0 0px 1px 2px #26B064 inset;
}

.node_id_div{
	position: absolute;
	right: 50px;
	bottom: 20px;
	color: #333;
	font-size: 1.2em;
}
.node_id_div>input{
	font-size: 16px;
	background-color: #F5F5F5; 
}
#node_id{
	width: 20px;
	border: none;
}
.search input.calendar{	
	background-size: 20px;
	
	border: #ccc solid 1px;
	background: #fff url(../img/calendar.png) no-repeat 98% 50%;
	background-size: 24px;
	padding-right:20px; 
	margin-right: 20px;
	text-align: center;

}

/*.search .calendar-icon{
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border: #555 solid 1px;
	
}*/
/*4.2 数据表*/
.data-table{
	background: #F5F5F5;
	padding: 10px 30px;
/*	border-radius: 10px;*/
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: #ddd solid 1px;

	/*margin: 10px 0;*/
	overflow: auto;

	box-shadow: 0 0px 1px 2px #26B064 inset;

}
table{
	
	/*border-collapse: collapse;*/
	/*border-collapse: separate;*/
	width: 98%;
	margin: 0 auto;

}
caption{
	padding: 0.8em 0.8em;
	font-size: 1.2em;
}
tr{
	border-bottom: #d7d7d7 solid 1px;
}
.tablehead{
	background-color: #bada55;
}
.odd{
	background-color: #d3e0f2;
}
th,td{
	width: 5em;
	font-size: 14px;
	padding: 0.8em 0.2em;
	text-align: center;
	vertical-align:middle;
}
td span,th span{
	display:inline-block; 
	/*font-size:0.1em;*/
	vertical-align:middle;
}
.radius-l{
	border-top-left-radius: 0.3em 0.3em;
}
.radius-r{
    border-top-right-radius: 0.3em 0.3em;
}
.splitpage{
	margin: 10px;
	text-align: center;
}
.export{
	text-align: right;
}


.anlysis{
	background: #F5F5F5;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 0 1px 2px #26B064 inset;
	height: 280px;
	margin-top: 5px;

}
.anlysis div{
	position: relative;
	width: 16%;
	margin: 1.8%;
	background: #fff;
	height: 200px;
	border: #d5d5d5 solid 1px;
	overflow: hidden;
	/*vertical-align: center;*/
	padding-top: 50px;
}
.anlysis label{
	margin: 5%;
	width: 50%;
	/*padding: 10px;*/
	line-height: 60px;
	color: #777;
	text-align: left;
	

}
.anlysis input{
	margin: 5%;
	width: 50%;
	border: none;
	text-align: center;
	font-size: 16px;
	border-bottom: #d5d5d5 solid 1px;
}
.anlysis p{
	text-align: center;
	font-size: 1.2em;
}
.anlysis .light{
	background:#fff url(../img/light.svg) left top no-repeat;
	background-size: 40%;
}
.anlysis .temp{
	background:#fff url(../img/temp.svg) 5% 1% no-repeat;
	background-size: 35%;
}
.anlysis .humi{
	background:#fff url(../img/humi.svg) 10% 3% no-repeat;
	background-size: 30%;
}
.anlysis .soiltemp{
	background:#fff url(../img/soiltemp.svg) 10% 3% no-repeat;
	background-size: 35%;
}
.anlysis .soilhumi{
	background:#fff url(../img/soilhumi.svg) 10% 3% no-repeat;
	background-size: 30%;
}
.anlysis .unit{
	position: absolute;
	top: 20px;
	right: 5px;
}


/*实时数据*/
.rt-data{
	position:relative;
	width: 1030px;
	height: 650px;
	border-radius: 10px;
	/*border-top-left-radius: 0;*/
	box-shadow: 0 0 1px 2px #26B064;
	background-color: #26B064;

	/*top: 30px;*/
}
.rt-data-top{
	height: 20px;
}
.datetime{
	position: absolute;
	top: 5px;
	left: 5px;
	line-height: 20px;
}
.status{
	position: absolute;
	top: 5px;
	right: 5px;
}
.status ul li{
	display: inline-block;
	line-height: 20px;

}
.rt-data-main{
	width: 1030px;
	margin: 0 auto;
}

.rt-data-main div{
	/*display: inline-block;*/
	position: absolute;
	top: 30px;
	/*float: left;*/
	width: 200px;
	height: 300px;
	overflow: hidden;
	/*margin: 30px 10px;*/
	vertical-align: bottom;
	text-align: center;

}
#chart-container1{
	left: 5px;
}
#chart-container2{
	left: 210px;
}
#chart-container3{
	left: 415px;
}
#chart-container4{
	left: 620px;
}
#chart-container5{
	left: 825px
}
#linechart{
	position: absolute;
	right: 10px;
	top: 320px;
	height: 300px;
}
.selecttype{
	position: absolute;
	left: 5px;
	top: 320px;
	cursor: pointer;
	width: 200px;
	/*display: inline-block;*/
}
.selecttype li.active {
    background-color: #fff;
    color: #000;
}
.selecttype li {
	width: 170px;
	height:52px;
    font-size: 16px;
    line-height: 52px;
    color: #fff;
   /* padding: 10px;*/
    margin: 5px auto;
    border: #fff solid 1px;
    text-align: center;
    word-break:keep-all;           /* 不换行 */
	white-space:nowrap;          /* 不换行 */
    /*background: url(../img/node.png) no-repeat 10px 50%;*/
/*    background-size: 15px;*/
  /*  padding-left: 20px;*/
}
.selecttype li:hover{
	background-color: #009966;
}
.selecttype li.active:hover
{
	background-color: #fff;
	color: #000;	
}
.typelist li span{
	visibility: hidden;
	display: none;
}

.attention{
	color: #cc3333;
	margin: 20px 0 0 10px;
	font-weight: bold;
}

/*文件传输页面样式*/
.sendContainer{
	border-radius: 10px !important;
	height: 250px;

}

input[type="checkbox"]{
	color: #000;
	vertical-align: middle;
}

.sendSubmit{
	padding: 0 10px;
	margin-left: 30px !important;
}

.checkboxContainer{
	margin: 20px 20px 20px 0px;
	padding:5px;
	border: 1px solid #ccc;
	display: inline-block;
	border-radius: 5px;
}

.checkboxContainer label{
	vertical-align: middle;
	margin-right: 20px;
}

.node_id_div1{
	position: absolute;
	right: 50%;
	top: 20px;
	color: #333;
	font-size: 1.2em;
}
.node_id_div1>input{
	font-size: 16px;
	background-color: #F5F5F5; 
}

.sendFieldset{
	margin-left: 200px !important;
	margin-top: 50px !important;
}

/*历史趋势图页面样式*/
.trendContainer{
	position: relative;
	width: 1016px;
	height: 430px;
	background-color: #26B064;
}

.trendBar{
	position: absolute !important;
	top: 64px !important;
	left: 0 !important;
}

.trendChart{
	position: absolute !important;
	top: 64px !important;
	right: 16px !important;
}