*{	margin: 0;
	padding: 0;}
html{ 
	width: 100%;
	height:100%;
	min-width: 1300px;
	max-height: 1280px;
	max-width: 1920px;
	}
	
body{width: 100%;
	margin:0;
	padding:0;
	height:100%;
	min-width: 1300px;
	max-width: 1920px;
	max-height: 1280px;
	}
	
.login_containter{
	width:100%;
	height:100%;
	background-image:url(../img/register/lgbgimg.jpg);
	background-size:100%;
	min-width:1000px;
	background-repeat: no-repeat;
	}
.Hailogo{
	width:7em;
	position:absolute;
	top:10px;
	left:50px;
	}
	
.webname{
/*	width:560px;
	height:80px;
	background-color:#FFF;
	border-radius:10px;*/
	width:560px;
	display:block; 
	text-align: left; 
	padding: 14px; 
	font-family: STXingkai; 
	font-size: 44px;
	line-height:80px; 
	color: rgba(10,10,10, 0.8);
	text-shadow: 1px 1px 2px #009944, 0 0 0 #000;
	
	position:absolute;
	top:10px;
	left:170px;
	white-space:nowarp;
/*	background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0, 128, 0, 1)), to(rgba(51, 51, 51, 1)));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 0.01em rgba(0, 128, 0, 1);*/
	}
		
.login_mainbody{
	width:400px;
	border-radius:10px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0.7)), color-stop(1, rgba(255, 255, 255, 0.7)));
	background-image: -ms-linear-gradient(top,rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7));
    background-image: -moz-linear-gradient(top,rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
	font-family:Microsoft Yahei;
	position:absolute;
	right:200px;
	top:350px;
/*	margin-left:100px;*/
	margin-top:-120px;
	padding-bottom:40px;
	
	}
@media screen and (min-height: 1000px) { 
.login_mainbody {top: 450px;} 
} 
@media screen and (min-width: 1400px) { 
.login_mainbody {right: 350px;;} 
} 

/*浏览器尺寸不小于1000px时距离顶部450px*/

	
.login_mainbody h1{
	margin-left:10px;
	font-weight:bold;
	font-size:22px;
	line-height:30px;
	color:#666;
	font-family:Microsoft Yahei;
/*	float:left;*/
	margin-top:20px;
	margin-left:50px;
	display: block;

	}

.login_mainbody img{
	margin-top:20px;
	margin-left:50px;
	float: left;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	background-color: #fff;
	border-top:#999 1px solid;
	border-left:#999 1px solid;
	border-bottom:#999 1px solid;
}
	
.login_mainbody input{
	float:left;
	/*clear:left;*/
	width:260px;
	height:32px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
/*	border-top:#999 1px solid;
	border-right:#999 1px solid;
	border-bottom:#999 1px solid;*/
	border: #999 1px solid;
	font-size:16px;
	margin-top:20px;
	/*margin-left:50px;*/
	font-family:Microsoft Yahei;
	}
.login_button{
	width: 301px !important;
	border-radius: 5px;
	margin-left:50px;
	cursor:pointer;
	color:#FFF;
	background: #4477a1;
	background: -webkit-gradient(linear, left top, left bottom, from(#81a8cb), to(#4477a1) );  
	}	

.login_button:hover{
	background: #81a8cb;
    background: -webkit-gradient(linear, left top, left bottom, from(#4477a1), to(#81a8cb) );
	}
	
.login_mainbody a{
	color:#333;
	font-size:14px;
	margin-top:20px;
	margin-left: 92px;/*两个提示信息时的margin值*/
	/*margin-left:56px;*//*三个提示信息时的margin值*/
	float:left;
	}

.login_mainbody a:link {
	color:#333;
}

.login_mainbody a:visited {
    color:#333;
}
    
.login_mainbody a:hover {
    color:blue;
    }
    
.login_mainbody a:active {
    color:blue;
}

.login_mainbody p{
	float:left;
	clear:left;
	font-size:14px;
	line-height:28px;
	margin-top:20px;
	margin-left:100px;
	color:#000;
	display:none;
	}
	
.login_username{
/*	background-image:url(../img/register/user.png) !important;
	background-repeat:no-repeat;*/
	text-indent:14px;
	}
	
.login_password{
/*	background-image:url(../img/register/lock.png) !important;
	background-repeat:no-repeat;*/
	text-indent:14px;
	}
input:-webkit-autofill {
     -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.loginerror{
	position: absolute;
	bottom: 10px;
	left: 50px;
	color: #f00;
	font-size: 14px;

}