body{
	font-family:  "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	font-size: 14px;
	width:100%;
	min-width:1000px;
/*	background-image:url(../img/nodeManageBg.png);
	background-repeat:repeat;*/
/*	margin: 0 auto;*/
	/*text-align: center;*/
	position: absolute;
	top: 0;
	right: 0
	bottom: 0;
	left: 0;
	
}

html{
	font-size:70px;
	width: 100%;
	min-height: 100%;

}
html, body{
	min-width: 1300px;
	max-width:1366px;
	height: 100%;
	margin: 0 auto;
	}
body .footer{
	bottom: 0;
}
/*body{
	margin: 0 auto;
}*/
#centerContainer{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.wrap1{
/*	margin-top:4.5em;*/
/*	margin-bottom:2em;*/
	width: 100%;
	padding-top: 55px;
	padding-bottom: 55px;
	/*margin: 61px auto;*/
	min-width: 1300px;
	min-height: calc(100% - 110px);
	margin: 0 auto;
	background:-webkit-gradient(linear, left top, left bottom, from(#add8e6), to(#fff));
}

.nodeManageContent{
	position: relative;
	margin-top: 20px;
	margin-left: 18%;
	width:75%;
	background-color:#F5F5F5;
	border-radius:1em;
	box-shadow: 0px 0px 5px #999;
	padding:2em;
	}
	
.nodeName{

	right: 0;
	bottom: 95%;
	font-size:1.2em;
	font-weight:bold;
	width:100%;
	text-align:center;
	background: -webkit-gradient(linear, left top, left bottom, from(#39D880), to(#26B064) );
	color:#fff;

	}
	
input[type=text]{
	font-family:  "Microsoft YaHei";
	border:none;
	outline:none;
	background-color:#F5F5F5;
	}

input[type=button]{

	margin-top:2em;
	margin-left:45%;
	font-family:  "Microsoft YaHei";
	width:5em;
	height:2em;
	cursor:pointer;
	color:#FFF;	
	border:#39D880 1px solid;
	background: -webkit-gradient(linear, left top, left bottom, from(#39D880), to(#26B064) );
	border-radius:5px;
	}
input[type=button]:hover{
	border-color:#2facb2;
	background: #2facb2;
	background: -webkit-gradient(linear, left top, left bottom, from(#2facb2), to(#298f94) ); 
	}
	
button{
	font-family:  "Microsoft YaHei";
	position:absolute;
	top:1em;
	right:1em;
	width:5em;
	height:2em;
	cursor:pointer;
	color:#FFF;	
	border:#39D880 1px solid;
	background: -webkit-gradient(linear, left top, left bottom, from(#39D880), to(#26B064) );
	border-radius:5px;

	}
	
button:hover{
	border-color:#2facb2;
	background: #2facb2;
	background: -webkit-gradient(linear, left top, left bottom, from(#2facb2), to(#298f94) ); 
	}
	
.mac{
	position:relative;
	
	border-bottom:#CCC 0.1em solid;
	}
	
.mac h1{
	display:inline-block;
	line-height:4em;
	margin-left:1em;
	margin-right:2em;
	font-weight:bold;
	}

.macValue{
	line-height:4em;
	display:inline-block;
	}
	
.nodeTable{
	margin-top:1em;
	}
	
.nodeTable thead{
	color:#fff;
	font-weight:bolder;
	background-color:#26B064;
	
	}

.nodeTable tbody{
	color:#000;
	background-color:#D0ECDD;
	
	}
	
/*表单开关样式*/
.nodeSwitch{
	position:absolute;}
.ui-switch {
/*	position:absolute;
	top:50%;
	left:50%;*/
/*	margin-left:-.35rem;
	margin-top:-.15rem;*/
	position:absolute;
	top:20%;
	left:125%;

    font-size: .16rem;
    width: .7rem;
    height: .3rem;
    line-height: .3rem;

}
.ui-switch input {
    width: .7rem;
    height: .3rem;
    position: absolute;
    top: 0;left: 0;  
    z-index: 2;
    border: 0;
    background: 0 0;
    -webkit-appearance: none;
    outline: 0
}
.ui-switch input:before {
    content: '';
    width: .68rem;
    height: .3rem;
    border: 1px solid #dfdfdf;
    background-color: #fdfdfd;
    border-radius: .2rem;
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border-color: #dfdfdf;
    -webkit-box-shadow: #dfdfdf 0 0 0 0 inset;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    -webkit-transition: border .4s,-webkit-box-shadow .4s;
    transition: border .4s,box-shadow .4s;
    -webkit-background-clip: content-box;
    background-clip: content-box
}

.ui-switch input:checked:before {
    border-color: #64bd63;
    -webkit-box-shadow: #64bd63 0 0 0 0.16rem inset;
    box-shadow: #64bd63 0 0 0 0.16rem inset;
    background-color: #64bd63;
    transition: border .4s,box-shadow .4s,background-color 1.2s;
    -webkit-transition: border .4s,-webkit-box-shadow .4s,background-color 1.2s;
    background-color: #64bd63
}
.ui-switch input:checked:after {
    left: .4rem
}
.ui-switch input:after {
    content: '';
    width:.3rem;
    height: .3rem;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform:translateY(-50%);
    border-radius: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 0.01rem 0.03rem rgba(0,0,0,.4);
    box-shadow: 0 0.01rem 0.03rem rgba(0,0,0,.4);
    -webkit-transition: left .2s;
    transition: left .2s
}

td>input{
	width:30%;
	text-align:center;
	}
	
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}