html{ 
	width:100%;
	height:100%;
	}
	
body{
	width:100%;
	height:100%;
	}

.topbg{
	width:100%;
	height:60px;
	background:#2facb2;
/*	background-image:url(../img/topbg.png);
	background-size: 100%;
	background-repeat:no-repeat;*/
	}

.Hailogo{
	width:4em;
	position:absolute;
	left:50px;
	}
	
.webname{
/*	width:560px;
	height:80px;
	background-color:#FFF;
	border-radius:10px;*/
	width:560px;
	height:60px;
	display:inline; 
	text-align: left; 
	padding: 14px; 
	font-family:Microsoft Yahei;
	font-size: 20px;
	line-height:40px; 
	color: #FFF;

/*	font-weight:bolder;
	color: rgba(255,255, 255,0.5);
	text-shadow: 1px 1px 0 #fff,0 0 0 #333;*/
	
	position:absolute;
	left:120px;
	white-space:nowarp;  
/*	background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0, 128, 0, 1)), to(rgba(51, 51, 51, 1)));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 0.01em rgba(0, 128, 0, 1);*/
	}
	
.password_find_containter{
	width:100%;
	height:100%;
	background-size:100%;
	/*background-color:#c5e3f1;*/
	min-width:1000px;
	}
	
.pf_mainbody{
	min-width:1000px;
	width:100%;
	height:80%;
	position:absolute;
	top:60px;
	background-image:url(../img/newpwdbg.png);
	background-repeat:no-repeat;
	background-size:100%;
	padding-top:70px;
	}
	
.pf_sub{
	width:800px;
	height:400px;
	margin:0 auto;
	padding:10px 0;
	border-radius:10px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0.7)), color-stop(1, rgba(255, 255, 255, 0.7)));
	background-image: -ms-linear-gradient(top,rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7));
    background-image: -moz-linear-gradient(top,rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
	}

.password_find_containter h3{
	font-size:16px;
	font-family:Microsoft Yahei;
	color:#000;
	margin-top:20px;
	margin-left:12%;
	}
	
.password_find_containter ul{
	width:610px;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	
	}
	
.password_find_containter ul li{
	width:200px;
	height:30px;
	color:#fff;
	background-color:rgba(235, 97, 0, 1);
	font-size:16px;
	line-height:30px;
	text-align:center;
	font-family:Microsoft Yahei;
	float:left;
	margin-left:1px;

	}
	
#check_register{
	color:#666;
	float:left;
	font-family:Microsoft Yahei;
	display:none;
	width:220px;
	margin-top:22px;
	font-size:10px;
	margin-left:5px;
	}

.topmenushow{
	opacity:1;
	}
	
.topmenuhid{
	opacity:0.5;
	}
	
/*邮箱验证*/	
.pfemailcheck{
	width:330px;

	/*border:#999 thin solid;*/
	margin-left:auto;
	margin-right:auto;
	margin-top:8%;
	/*border-radius:10px;*/
	display:block;
	}

#register_email, #register_identifying_code{
	padding:0;
	border:0;
	margin-top:20px;
	margin-left:10px;
	text-indent:48px;
	width:220px;
	height:32px;
	font-size:14px;
	line-height:32px;
	font-family:Microsoft Yahei;
	border-radius:5px 0px 0px 5px;
	border-top:#999 1px solid;
	border-bottom:#999 1px solid;
	border-left:#999 1px solid;
	float:left;
	clear: left;
	}
	
/*去除type=number时右侧的上下小箭头*/	
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}

#register_get_identifying_code:hover, #register_register_button:hover{
	background: #81a8cb;
    background: -webkit-gradient(linear, left top, left bottom, from(#E66B1A), to(#FF6600) );
	}
	
#register_email{
	background-image:url(../img/register/email.png);
	background-repeat:no-repeat;
	}

#register_identifying_code{
	background-image:url(../img/register/identifyingcode.png);
	background-repeat:no-repeat;
	}
	
#register_get_identifying_code, #register_register_button{
	border:0;
	margin-top:20px;	
	padding:0;
	width:78px;
	height:34px;
	font-size:14px;
	line-height:32px;
	font-family:Microsoft Yahei;
	float:left;
	text-align:center;
	cursor:pointer;
	border-radius:0px 5px 5px 0px;
	color:#fff;
	background: #4477a1;
	background: -webkit-gradient(linear, left top, left bottom, from(#FF6600), to(#E66B1A) );  
	}

/*密码重置*/	
.newpwd{
	width:330px;

	/*border:#999 thin solid;*/
	margin-left:auto;
	margin-right:auto;
	margin-top:8%;
	/*border-radius:10px;*/
	display:block;
	}
	
#register_password, #register_password_check{
	padding:0;
	border:0;
	margin-top:20px;
	margin-left:10px;
	text-indent:48px;
	width:299px;
	height:32px;
	font-size:14px;
	line-height:32px;
	font-family:Microsoft Yahei;
	float:left;
	border-radius:5px;
	border:#999 1px solid;	
	}
	
#register_password{
	background-image:url(../img/register/lock.png);
	background-repeat:no-repeat;
	}
	
#register_password_check{
	background-image:url(../img/register/lockcheck.png);
	background-repeat:no-repeat;
	}
	
.login_button{
	float:left;
	clear:left;
	width:300px;
	height:32px;
	border-radius:5px;
	border:#FFB444 1px solid;
	font-size:16px;
	margin-top:20px;
	margin-left:10px;
	font-family:Microsoft Yahei;
	cursor:pointer;
	color:#FFF;
	background: #4477a1;
	background: -webkit-gradient(linear, left top, left bottom, from(#FF6600), to(#E66B1A) );   
	}	

.login_button:hover{
	background: #81a8cb;
    background: -webkit-gradient(linear, left top, left bottom, from(#E66B1A), to(#FF6600) );
	}

/*重新登录*/
.relogin{
	width:330px;

	/*border:#999 thin solid;*/
	margin-left:auto;
	margin-right:auto;
	margin-top:8%;
	/*border-radius:10px;*/
	display:block;
	}
	
.relogin p{
	width:300px;
	font-size:16px;
	color:#333;
	font-family:Microsoft Yahei;
	display:inline;
	float:left;
	clear:left;
	text-align:center;
	}
	
.relogin p a:link{
	color:blue;
	}
	
.relogin p a:visited{
	color:blue;
	}
	
.relogin p a:hover{
	color:red;
	}
	
.relogin p a:active{
	color:blue;
	}